:host {
  display: flex;
  min-height: calc(100% + 100px);
  flex-flow: column;
}

#poll-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

#poll-spacer {
  flex: 1 1 0;
}

#poll-spacer-after {
  height: 20px;
}
