<mdb-card>
    <mdb-card-body id="poll-card">
      <div class="d-flex flex-row justify-content-center align-items-stretch">

        <div class="card-left-body text-center text-medium text-primary">
          {{this.poll.popularity | vote : 1}}
        </div>

        <div class="flex-1 d-inline-block">
          <mdb-card-title >
            <div id="poll-card-title">
              <a *ngIf="minimized" [routerLink]="'/poll/'+this.poll.id" routerLinkActive="active">
                <p class="h2">{{this.poll.title}}</p>
              </a>
              <p *ngIf="!minimized" class="h2">{{this.poll.title}}</p>

              <div class="flex-row">
                <p class="d-inline">by </p>
                <a [routerLink]="'/user/'+this.poll.author.username" routerLinkActive="active">
                  <p class="text-primary d-inline">u/{{this.poll.author.username}}</p>
                </a>
                <p class="d-inline"> on {{this.poll.createdDateTime | date:'medium'}}</p>
              </div>
            </div>
          </mdb-card-title>

          <mat-radio-group *ngIf="!minimized" [(ngModel)]="this.userVote.optionIndex">
            <div *ngFor="let option of this.poll.optionValues; index as i; trackBy: trackByFn"
                  class="rounded poll-option p-2"
                  (click)="onOptionSelected(i)">
              <div>
                <mat-radio-button *ngIf="this.poll.userPollVote.optionIndex === -1" color="primary" [value]="i">{{option}}</mat-radio-button>
                <div *ngIf="this.poll.userPollVote.optionIndex !== -1">
                  <mat-progress-bar class="mb-0 rounded" color="accent" [value]="this.votePct[i]"></mat-progress-bar>
                  <p class="pct-option">{{this.poll.optionValues[i]}}</p>
                  <p class="vote-pct-bar">{{this.votePct[i] + "% (" + this.poll.optionVotes[i] + ")"}}</p>
                </div>
              </div>
            </div>
          </mat-radio-group>

          <div *ngIf="!minimized" id="poll-card-footer">
            <button *ngIf="this.poll.userPollVote.optionIndex === -1" class="rounded-lg ml-0" type="button" mdbBtn
                    color="primary" mdbWavesEffect (click)="onVote()">Vote</button>
            <button *ngIf="this.poll.userPollVote.optionIndex !== -1" class="rounded-lg ml-0" type="button" mdbBtn
                    color="primary" outline="true" mdbWavesEffect (click)="removeVote()">Revote</button>
          </div>
        </div>
      </div>

    </mdb-card-body>
</mdb-card>
