<div class="p-2">
  <p class="h1">Create a poll</p>
  <p id="titleSub" class="h5">Add a question and up to 6 options for your poll.</p>
  <div class="md-form">

    <p class="font-weight-bold mb-1 text-gray">Poll Question</p>
    <p class="text-danger">{{this.pollValidationErrors.title}}</p>
    <textarea id="form7" class="md-textarea form-control border-blue rounded text-indent-10 pt-2 p-large"
              placeholder="Ex. Who is your favorite character?" rows="3" maxlength="288" [(ngModel)]="this.poll.title"></textarea>


    <div *ngFor="let option of this.poll.optionValues; index as i; trackBy: trackByFn" class="full-width md-form mb-0">
      <p class="font-weight-bold text-gray mb-1">Poll Option</p>
      <p class="text-danger">{{this.pollValidationErrors.options[i]}}</p>
      <div class="d-flex align-items-center">
        <mdb-icon (click)="onRemoveOption(i)" *ngIf="i>=2" class="mr-1 cursor-pointer" fas icon="times-circle"></mdb-icon>
        <input type="text" [id]="'Option ' + (i+1)" class="m-0 form-control border-blue rounded text-indent-10 form-control-lg p-large"
               [placeholder]="'Eg. Option ' + (i+1)" maxlength="64" [(ngModel)]="this.poll.optionValues[i]">
      </div>
    </div>

    <div class="mt-4">
      <button type="button" mdbBtn color="primary" [disabled]="this.poll.optionValues.length == 6"
              class="waves-light rounded" (click)="this.onAddOption()" mdbWavesEffect>Add Option</button>

      <button type="button" mdbBtn color="default" class="waves-light rounded" (click)="this.onSavePoll()" mdbWavesEffect>Create Poll</button>
    </div>

  </div>
</div>
