<div mdbModal #loginModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header flex-wrap">
        <button type="button" class="close pull-right" aria-label="Close" (click)="loginModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h2 *ngIf="isLogin" class="modal-title">Log in</h2>
        <h2 *ngIf="!isLogin" class="modal-title">Sign up</h2>
        <p>This site is for demonstration purposes only. Do not enter sensitive information.</p>
      </div>
      <div class="modal-body">
        <p class="text-danger">{{this.errorMsg}}</p>
        <form>
          <!-- Material input -->
          <div class="md-form form-group">
            <input mdbInput type="text" name="username" class="form-control" id="formGroupExampleInputMD" [(ngModel)]="this.authData.username">
            <label for="formGroupExampleInputMD">Username</label>
          </div>
          <!-- Material input -->
          <div class="md-form form-group">
            <input mdbInput type="password" name="password" class="form-control" id="formGroupExampleInput2MD"
                   (keyup.enter)="submit()" [(ngModel)]="this.authData.password">
            <label for="formGroupExampleInput2MD">Password</label>
          </div>
        </form>
      </div>
      <div *ngIf="this.isLogin" class="modal-footer">
        <p>New to Pollur? <a class="text-primary font-weight-bold" (click)="toggleModalType()">Sign up</a></p>
        <button type="button" mdbBtn color="primary" class="waves-light" aria-label="Log in" (click)="this.login()" mdbWavesEffect>Log in</button>
      </div>

      <div *ngIf="!this.isLogin" class="modal-footer">
        <p>Already have an account? <a class="text-primary font-weight-bold" (click)="toggleModalType()">Log in</a></p>
        <button type="button" mdbBtn color="primary" class="waves-light" aria-label="Log in" (click)="this.signUp()" mdbWavesEffect>Sign up</button>
      </div>
    </div>
  </div>
</div>
