/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #dae0e6;

}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-indent-10 {
  text-indent: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.min-height-100 {
  min-height: 100%;
}

.outline-none:focus {
  outline: none;
}

.text-medium {
  font-size: 25px;
}
